{%extends 'base.html'%}
{%block content%}
    <h3>Добавление компании</h3>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
{{ form.as_p }}
 <br>
            <fieldset>
                <legend></legend>
                {{ qwestion_form.management_form }}
                {{ qwestion_form.non_form_errors }}
                {% for form in qwestion_form %}
                    {{ form.id }}
                    <div class="inline {{ qwestion_form.prefix }}">
                        {{ form.title.errors }}
                        {{ form.title.label_tag }}
                        {{ form.title }}
                        {{ form.input.errors }}
                        {{ form.input.label_tag }}
                        {{ form.input }}

                    </div>

                {{ answer_form.management_form }}
                {{ answer_form.non_form_errors }}
                {% for form in answer_form %}
                    {{ form.id }}
                    <div class="inline {{ answer_form.prefix }}">
                       {{ form.title.errors }}
                        {{ form.title.label_tag }}
                        {{ form.title }}
                        {{ form.truefild.errors }}
                        {{ form.truefild.label_tag }}
                        {{ form.truefild }}

                    </div>
                {% endfor %}
                {% endfor %}
            </fieldset>

 <button class="btn btn-primary" type="submit" name="submit">Добавить</button>
    </form>
{%endblock%}